---
title: "Instalação de portas articuladas"
layout: "servicos"
---

<div id="page-articles">
  <div class="content">
    <div class="content_wrapper">
      <div class="article">
	<div class="title_div">
	  <h2 class="article_title">Instalação de porta articulada</h2>
	</div>

	<div class="grid_1 article_img">
	  <img src="../images/assets/slider_home/07.jpg" alt="Porta articulada" />
	</div>
	<div class="clear"></div>

	<div class="article_container">
	  <div class="block">
	    <h3>O que é uma porta articulada?</h3>

	    <p>A porta articulada é formada por duas folhas ligadas entre si por 3 dobradiças. Estas portas juntas são encaixadas a um batente comum. Para a montagem do trilho é utilizado um kit feito exclusivamente para esse fim que possui 1 trilho, 3 pinos de fixação, 1 peça de metal e alguns parafusos.</p>
	    <p>Um dos diferenciais da porta articulada, assim como a <a href="camarao.html">porta camarão</a>, é a economia de espaço, pois quando aberta ela dobra as duas folhas em função das dobradiças, além de ser uma porta funcional e de boa estética para ambientes internos.</p>
	    <p>Esse tipo de porta não é recomendada para corredores, mas caso seja comprada para o tal, verifique o espaço disponível para o corredor pois a porta ocupará de 20 a 30cm deste espaço quando aberta.</p>

	    <h3>Preparação para a instalação</h3>

	    <p>Para instalar uma porta articulada e batente (usando como exemplo uma porta de 72 cm) basta deixar um vão de 80cm de largura por 2 metros e 16 centímetros de altura e de preferência manter a parede do vão com a mesma largura do batente para que as guarnições se adaptem perfeitamente.</p>

	    <h4>Batente já instalado e porta separada</h4>

	    <p>Apesar da instalação ser um pouco mais trabalhosa, alguns clientes optam por instalar primeiro o batente e instalar a porta posteriormente. A porta é instalada no mesmo tipo de batentes de portas comum e fica perfeita desde que o batente esteja bem esquadrejado e no prumo, e a porta deve estar bem reta para assim evitar mal funcionamento da mesma.</p>

	    <h3>Modo de instalação</h3>

	    <p>Para montar a porta articulada são utilizadas 3 dobradiças no meio da porta para juntar as duas folhas, 2 pinos na parte superior da porta e um parafuso com cabeça dentada na parte inferior. A porta é fixa por um trilho na parte de cima e um "L" de metal na parte de baixo que é fixa no batente.</p>
	    <p>Assim como é a porta camarão, também é necessário fazer um arredondamento do lado fixo da folha para que ela gire perfeitamente ao abrir ou fechar.</p>

	    <p>Ao contrário da porta camarão a porta articulada não utiliza puxadores e/ou trinco, e utiliza o mesmo tipo de fechadura que é utilizado em portas comum, seguindo assim o mesmo processo de instalação descrito na <a href="comum.html">página de porta comum</a>.</p>

	    <p>Instalamos portas articuladas há mais de 10 anos, entre em contato conosco para tirar suas dúvidas e fazer um orçamento.</p>

	    <p><a href="https://plus.google.com/117049250640616279213?prsrc=3" style="text-decoration:none;color:#333;font:13px/16px arial,sans-serif;font-weight:bold;">Wilson Molinari</a><p>
          </div>
	</div>

        <%= partial "addthis" %>

	<div class="clear"></div>
      </div>
    </div>
  </div>
</div>
