---
title: "Instalação de portas balcão"
layout: "servicos"
---

<div id="page-articles">
  <div class="content">
    <div class="content_wrapper">
      <div class="article">
	<div class="title_div">
	  <h2 class="article_title">Instalação de porta balcão</h2>
	</div>

	<div class="grid_1 article_img">
	  <img src="../images/assets/informacoes/balcao.jpg" alt="Porta balcão" />
	</div>

	<div class="clear"></div>

	<div class="article_container">
	  <div class="block">
	    <h3>O que é uma porta balcão?</h3>

	    <p>A porta balcão é formada por duas folhas de porta com ventilação, que são instaladas na parte de fora e duas folhas com vidros que são instaladas pelo lado de dentro para fornecer apenas claridade com as portas fechadas. Esse tipo de porta é mais instalada em dormitórios, dando acesso a outro comodo mais aberto.</p>

	    <h3>Preparação para a instalação</h3>

	    <p>Para que uma porta balcão seja instalada é necessário que o cliente já possua o batente especial para esse tipo de porta já instalado, e as 4 folhas da porta disponíveis para a instalação, juntamente com os acessórios que serão instalados (trincos e etc) e as guarnições, que apesar de serem opcionais dão um belo acabamento à porta.</p>
	    <p>As portas com ventilação que ficam do lado de fora devem possuir dobradiças especiais para elas, enquanto as portas internas com acabamento de vidro podem usar dobradiças comuns.</p>

	    <h3>Modo de instalação</h3>

	    <p>As dobradiças são encaixadas e parafusadas à porta e logo em seguida as medidas são transferias para o batente, folha por folha. Após a instalação é feito um furo na cabeceira e outro na soleira para instalar os trincos que mantém a porta fechada. As guarnições possuem um papel importante no trinco da parte superior pois é nela que os trincos se apoiam para manter a porta fechada.</p>

	    <p>A porta balcão possui um estilo diferente e bonito, e merece ser instalada com qualidade. Entre em contato conosco para um orçamento da sua instalação.</p>

	    <p><a href="https://plus.google.com/117049250640616279213?prsrc=3" style="text-decoration:none;color:#333;font:13px/16px arial,sans-serif;font-weight:bold;">Wilson Molinari</a><p>
	  </div>
	</div>

        <%= partial "addthis" %>

	<div class="clear"></div>
      </div>
    </div>
  </div>
</div>
