---
title: "Instalação de portas bang-bang"
layout: "servicos"
---

<div id="page-articles">
  <div class="content">
    <div class="content_wrapper">
      <div class="article">
	<div class="title_div">
	  <h2 class="article_title">Instalação de porta bang bang</h2>
	</div>

	<div class="grid_1 article_img">
	  <img src="../images/assets/informacoes/bangbang.jpg" alt="Porta bang-bang" />
	</div>
	<div class="clear"></div>

	<div class="article_container">
	  <div class="block">
	    <h3>O que é uma porta bang bang?</h3>

	    <p>A porta bang bang possui esse apelido pois é a uma porta muito utilizada em filmes conhecidos como “velho oeste”, e estavam sempre nas portas dos estabelecimentos. Essa porta é formada por duas folhas de porta com comprimento de mais ou menos 1 metro e 20 centrímetros de altura. Essa porta é instalada ao meio do batente, deixando assim folga tanto em cima quanto em baixo.</p>

	    <h3>Preparação para a instalação</h3>

	    <p>Os batentes precisam ser lisos e sem rebaixo para prover uma melhor estética para a porta e evitar que ela perca seu estilo único. As dobradiças são próprias para a porta pois elas abrem para os dois lados e param sempre juntas no meio do batente.</p>

	    <h3>Modo de instalação</h3>

	    <p>As folhas são ajustadas de acordo com o batente dando uma boa folga para que quando passem uma pela outra não haja colisão. Após os ajustes são instaladas as dobradiças </p>
	    <p>Um sarrafo de madeira com espessura de 2 cm x 3,5 cm x1,20 metros é pregado de cada lado do batente para acomodar as dobradiças que foram adicionadas à porta. As dobradiças são parafusadas a este sarrafo e ajustadas até que a pressão das portas fique perfeita.</p>

	    <p>Portas bang bang não são muito comuns, mas a WLM instalações tem mais de 10 anos de experiência e já instalou dezenas delas. Entre em contato conosco e consiga um orçamento para a instalação da sua.</p>

	    <p><a href="https://plus.google.com/117049250640616279213?prsrc=3" style="text-decoration:none;color:#333;font:13px/16px arial,sans-serif;font-weight:bold;">Wilson Molinari</a><p>
          </div>
	</div>

        <%= partial "addthis" %>

	<div class="clear"></div>
      </div>
    </div>
  </div>
</div>
