---
title: "Instalação de portas camarão"
layout: "servicos"
---

<div id="page-articles">
  <div class="content">
    <div class="content_wrapper">
      <div class="article">
	<div class="title_div">
	  <h2 class="article_title">Instalação de porta camarão</h2>
	</div>

	<div class="grid_1 article_img">
	  <img src="../images/assets/slider_home/05.jpg" alt="Porta camarão" />
	</div>
	<div class="clear"></div>

	<div class="article_container">
	  <div class="block">
	    <h3>O que é uma porta camarão?</h3>

	    <p>A porta camarão é formada por duas folhas ligadas entre si por 3 dobradiças. Estas portas juntas são encaixadas a um batente que pode ser comum (o mesmo utilizado para portas lisas comuns) ou próprio para porta camarão (onde o encaixe da porta e do trilho se encontra na parte central do batente). Para a montagem do trilho é utilizado o "kit camarão" que possui 1 trilho, 3 pinos de fixação, 1 peça de metal e alguns parafusos.</p>
	    <p>Um dos diferenciais da porta camarão é a economia de espaço, pois quando aberta ela dobra ao meio em função das dobradiças, além de ser uma porta funcional e de boa estética para ambientes internos.</p>

	    <h3>Preparação para a instalação</h3>

	    <p>Para instalar uma porta camarão e batente (usando como exemplo uma porta de 72 cm) basta deixar um vão de 80cm de largura por 2 metros e 16 centímetros de altura e de preferência manter a parede do vão com a mesma largura do batente para que as guarnições se adaptem perfeitamente.</p>

	    <h4>Batente já instalado e porta separada</h4>

	    <p>Apesar da instalação ser um pouco mais trabalhosa, alguns clientes optam por instalar primeiro o batente e instalar a porta posteriormente. A porta pode ser instalada em batentes de porta comum e fica perfeita desde que o batente esteja bem esquadrejado e no prumo, e a porta deve estar bem reta, para assim evitar mal funcionamento da mesma.</p>

	    <h3>Modo de instalação</h3>

	    <p>Para instalação de porta camarão em batentes comum, a porta sofre algumas adaptações como:</p>
	    <ul>
	      <li>Arredondamento do lado fixo da folha para que ela gire perfeitamente</li>
	      <li>Chanfro no lado de fora na quina da porta para evitar a colisão com o batente durante o fechamento.</li>
	    </ul>

	    <p>Para montar a camarão são 3 dobradiças no meio da porta utilizadas para juntar as duas folhas, 2 pinos na parte superior da porta e um parafuso com cabeça dentada na parte inferior. A porta é fixa por um trilho na parte de cima e um "L" de metal na parte de baixo que é fixa no batente. Para facilitar o fechamento adiciona-se puxador e trinco.</p>

	    <p>Instalamos portas camarão com qualidade há mais de 10 anos. Entre em contato conosco para tirar suas dúvidas e fazer um orçamento.</p>

	    <p><a href="https://plus.google.com/117049250640616279213?prsrc=3" style="text-decoration:none;color:#333;font:13px/16px arial,sans-serif;font-weight:bold;">Wilson Molinari</a><p>
          </div>
        </div>

        <%= partial "addthis" %>

        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>
