---
title: "Instalação de portas comuns"
layout: "servicos"
---

<div id="page-articles">
  <div class="content">
    <div class="content_wrapper">
      <div class="article">
	<div class="title_div">
	  <h2 class="article_title">Instalação de lisa comum</h2>
	</div>

	<div class="grid_1 article_img">
	  <img src="../images/assets/informacoes/comum.jpg" alt="Portas lisas comuns" />
	</div>
	<div class="clear"></div>

	<div class="article_container">
	  <div class="block">
	    <h3>O que é uma porta lisa comum?</h3>

	    <p>A porta lisa comum é uma porta simples, não precisa ser reforçada pois é feita para ambientes internos como banheiros, dormitórios, cozinhas e lavabos.</p>

	    <h3>Preparação para a instalação</h3>

	    <p>Esse tipo de porta não precisa de batentes especiais, ela utiliza os batentes comuns, e suas dobradiças podem ser do tipo comum pois as portas são leves.</p>
	    <p>As fechaduras dos dormitórios podem ser de passagem(interna com chaves) e as fechaduras de banheiro devem possuir trinco.</p>

	    <h3>Modo de instalação</h3>

	    <p>A porta é ajustada para que fique adequada ao batente, as dobradiças são encaixadas em cavas feitas com seu tamanho exato e parafusadas na porta. As medidas são transferidas da porta para o batente para conseguir um encaixe perfeito das dobradiças no mesmo, e as cavas são feitas no batente assim como foram feitas na porta.</p>
	    <p>Com a porta já funcional começamos os trabalhos na fechadura, furando e ajustando-a na porta e posteriormente ajustando seu fechamento junto ao batente.</p>

	    <p>A WLM instalações já instalou milhares de portas lisas comum para pessoas físicas e para construtoras, tanto em prédios como em condomínios e residências. Entre em contato conosco para um orçamento para a instalação das suas portas.</p>

	    <p><a href="https://plus.google.com/117049250640616279213?prsrc=3" style="text-decoration:none;color:#333;font:13px/16px arial,sans-serif;font-weight:bold;">Wilson Molinari</a><p>
	  </div>
	</div>

        <%= partial "addthis" %>

        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>
