---
title: "Instalação de portas de correr"
layout: "servicos"
---

<div id="page-articles">
  <div class="content">
    <div class="content_wrapper">
      <div class="article">
	<div class="title_div">
	  <h2 class="article_title">Instalação de porta de correr</h2>
	</div>

	<div class="grid_1 article_img">
	  <img src="../images/assets/informacoes/correr.jpg" alt="Porta de correr" />
	</div>
	<div class="clear"></div>

	<div class="article_container">
	  <div class="block">
	    <h3>O que é uma porta de correr?</h3>

	    <p>A porta de correr, como o próprio nome diz, é uma porta feita para ser aberta utilizando o movimento de deslize para os lados (chamado de "correr para os lados"). Esse tipo de porta é ótima para ambientes internos, principalmente para ganhar espaço, e também para melhorar a estética.</p>

	    <h3>Preparação para a instalação</h3>

	    <p>O tamanho padrão de uma porta é 2 metros e 10 cm, altura do vão deve ser 2 metros e 7 cm para evitar que seja visto alguma luz por quem está do lado de fora.</p>

	    <h3>Modo de instalação</h3>

	    <p>Antes de instalar a porta é necessário fazer 2 furos na lateral da porta para que seja encaixada a roldana que fará a porta deslizar. Também é necessário fazer uma canaleta com 1 centímetro de profundidade que será utilizado em conjunto com o "pino guia" que evita que a porta balance enquanto ela desliza.</p>
	    <p>Durante a instalação uma barra de inóx é bem nivelada e fixada na parte de cima do vão, e o pino guia é fixado na parte de baixo da porta para correr na canaleta de aluminio.</p>

	    <p>Instalamos todos os tipos de porta de correr de madeira. Entre em contato conosco para tirar suas dúvidas sobre o seu estilo de porta de correr e para fazer um orçamento sobre a instalação da sua porta.</p>

	    <p><a href="https://plus.google.com/117049250640616279213?prsrc=3" style="text-decoration:none;color:#333;font:13px/16px arial,sans-serif;font-weight:bold;">Wilson Molinari</a><p>
	  </div>
	</div>

        <%= partial "addthis" %>

        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>
