---
title: "Instalação de portas de entrada"
layout: "servicos"
---

<div id="page-articles">
  <div class="content">
    <div class="content_wrapper">
      <div class="article">
	<div class="title_div">
	  <h2 class="article_title">Instalação de porta de entrada</h2>
	</div>

	<div class="grid_1 article_img">
	  <img src="../images/assets/informacoes/entrada.jpg" alt="Porta de entrada" />
	</div>
	<div class="clear"></div>

	<div class="article_container">
	  <div class="block">
	    <h3>Qual a diferença das portas de entrada?</h3>

	    <p>Porta de entrada sempre tem que ser uma porta mais resistente que as internas, com uma boa fechadura yale ( tambor) e alguns acessórios de segurança opcionais. </p>

	    <h3>Preparação para a instalação</h3>

	    <p>Dependendo do peso da porta é recomendável comprar uma dobradiça com anéis, pois elas são sempre mais reforçadas e evitam problemas futuros.</p>

	    <h3>Modo de instalação</h3>

	    <p>Ajustes para adequar a porta ao batente com as devidas folgas, fazer os encaixes das dobradiças e parafusa-las a porta.</p>
	    <p>Com a porta já pronta, suas medidas são tranferidas para o batente, assim fazendo também os encaixes da dobradiça no batente e parafusando-as. Com a porta já funcionando as dobradiças são marcadas e encaixadas na porta em uma cavidade feita com uma furadeira, e logo após a instalação da mesma é feita a adaptação dela ao batente.</p>

	    <p>A porta de entrada é a primeira visão da sua casa ou apartamento e merece uma ótima qualidade. Entre em contato conosco para conseguir um orçamento para uma instalação com qualidade.</p>

	    <p><a href="https://plus.google.com/117049250640616279213?prsrc=3" style="text-decoration:none;color:#333;font:13px/16px arial,sans-serif;font-weight:bold;">Wilson Molinari</a><p>
	  </div>
	</div>

        <%= partial "addthis" %>

	<div class="clear"></div>
      </div>
    </div>
  </div>
</div>
