---
title: "Instalação de portas pivoltantes"
layout: "servicos"
---

<div id="page-articles">
  <div class="content">
    <div class="content_wrapper">
      <div class="article">
	<div class="title_div">
	  <h2 class="article_title">Instalação de porta pivoltante</h2>
	</div>

	<div class="grid_1 article_img">
	  <img src="../images/assets/informacoes/pivoltante.jpg" alt="Porta pivoltante" />
	</div>
	<div class="clear"></div>

	<div class="article_container">
	  <div class="block">
	    <h3>O que é uma porta pivoltante?</h3>

	    <p>É uma porta que não necessita de dobradiças, ela é fixa por 2 pinos pivoltantes, um em cima e outro em baixo. Portas pivoltantes tem um visual muito bonito pois a fechadura é de rolete e sem maçaneta, só com puxadores.</p>

	    <h3>Preparação para a instalação</h3>

	    <p>O cliente deve possuir um batente especial para porta pivoltante devidamente instalados, e a porta com os seus materiais (pinos, contra testa, puxadores e etc) devidamente preparada.</p>

	    <h3>Modo de instalação</h3>

	    <p>Ajustar a porta para que fique adequada ao batente com as folgas necessárias, fazer perfuração e encaixes dos pivoltantes, e também perfuração e encaixes no batente.</p>
	    <p>A porta é alinhada ao batente e alinhado aos pivoltantes que são instalados na parte superior e inferior. Depois de tudo instalado e alinhado é feito a instalação da fechadura e contra testa no batente, e também dos puxadores.</p>

	    <p>A WLM instalações trabalha com todos os tipos de portas de madeira, entre em contato conosco e consiga um orçamento e informações para a compra da sua porta pivoltante.</p>

	    <p><a href="https://plus.google.com/117049250640616279213?prsrc=3" style="text-decoration:none;color:#333;font:13px/16px arial,sans-serif;font-weight:bold;">Wilson Molinari</a><p>
	  </div>
        </div>

        <%= partial "addthis" %>

        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>
