<div id="page-contact">
  <div class="header">
    <div class="content_wrapper">
      <div class="grid_1">
        <h1 class="page_title">Contate-nos</h1>
        <div class="page_title_subhead">Obtenha informações e orçamentos.</div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="content_wrapper">
      <div id="contact">
	<div id="message"></div>
	<div class="clear"></div>

	<p>Por telefone:</p>
	<table>
	  <tbody>
	    <div itemscope itemtype="http://data-vocabulary.org/Organization">
	      <tr>
		<span itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address">
		  <td><span itemprop="name">WLM instalações</span></td>
		  <td><span itemprop="locality">Diadema<span> / <span itemprop="region">SP</span></td>
		  </span>
	      </tr>
	      <tr>
		<td>
		  <span>Rafael Araujo:</span>
		</td>
		<td>
		  <span itemprop="tel">(11) 9-8404-1027</span> [TIM]
		</td>
	      </tr>
	      <tr>
		<td>
		  <span itemprop="tel">(11) 9-9871-3718</span> [OI]
		</td>
		<td>
		  <span itemprop="tel">(11) 9-9900-9542</span> [VIVO]
		</td>
	      </tr>
	    </div>
	  </tbody>
	</table>

	<p>Ou por email:</p>
	<table>
	  <tbody>
	    <div>
	      <tr>
		<td>
		  <a href="mailto:rafael@wlminstalacoes.com.br?Subject=Orçamento%20WLM%20instalacoes%20">
		    <span>rafael@wlminstalacoes.com.br</span>
		  </a>
		</td>
	      </tr>
	    </div>
	  </tbody>
	</table>
      </div>
    </div>
  </div>
</div>
